# META API
WA_VERIFY_TOKEN=
WA_ACCESS_TOKEN=
WA_PHONE_NUMBER_ID=

# OPENAI
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o
OPENAI_BASE_URL=

# DATABASE
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=pockibot